{% extends 'base.html' %}

{% block title%}
Admin Account
{% endblock%}

{%block nav%}<a class="nav-link fw-bold py-1 px-2" href="{{url_for('logout')}}">Log out</a>{% endblock %}

{% block body%}
    <h1 style="font-size:200%">Welcome, Admin</h1><br>

{% for user in users %}
<details>
    <summary>{{user.login}}</summary>
    <style>
    .tableFixHead {overflow-y:auto; height: 200px; }
    .tableFixHead thead th {position: sticky; top: 0; z-index: 1;}

    th { background:#eee;}
</style>
    <form method="get" >
<div class="container">
<!---<div style="height:300px; overflow-y:scroll"> -->
<div class="tableFixHead">
<table style="width:100%">
    <thead>
        <th>Order id</th>
        <th>Service</th>
        <th>Price</th>
        <th>Date</th>
        <th>Current Status/Status</th>
        <th>Delete Order</th>
        <th>Confirmation</th>
    </thead>
{% for order in total_user_orders(user.login) %}
<tr><form method="post", action="{{url_for('admin')}}">
  <td>{{ order.id }}</td>
  <td>{{ order.services }}</td>
  <td>{{ order.total_price }}</td>
  <td>{{ order.date }}</td>
  <td>{{order.status}}/<select name="status" id="status">
    <option value="pending">pending</option>
    <option value="in process">in process</option>
    <option value="done">done</option>
  </select></td>
    <td><input type="checkbox" id="delete" name="delete" value='delete'></td>
  <td><input type="hidden" id="current_id" name="current_id" value="{{order.id}}">
      <input type="hidden" id="current_status" name="current_status" value="{{order.status}}">
      <input formmethod="post"  type="submit" value="Confirm" class="btn btn-danger"></td>
</form></tr>
{% endfor %}
</table>
</div>
</div>
</form>
</details>
{% endfor %}
<br><br><br>
<p style="font-size:150%">Find orders:</p>
<form method="post" action="{{url_for('admin')}}">
  <label for="order_date_first">Between this date:</label>
  <input type="date" id="order_date_first" name="order_date_first">
  <label for="order_date_second">And this date:</label>
  <input type="date" id="order_date_second" name="order_date_second">
  <input formmethod="post"  type="submit" value="Find" class="btn btn-warning">
</form>
<style>
    .tableFixHead {overflow-y:auto; height: 200px; }
    .tableFixHead thead th {position: sticky; top: 0; z-index: 1;}
    th { background:#eee;}
</style>

<form method="get" action="/action_page.php">
<div class="container">
<!---<div style="height:300px; overflow-y:scroll"> -->
<div class="tableFixHead">
<table style="width:100%">
    <thead>
        <th>Order id</th>
        <th>Login</th>
        <th>Date</th>
        <th>Status</th>
    </thead>
{% for order in filter_orders %}
<tr>
  <td>{{ order.id }}</td>
  <td>{{ order.login }}</td>
  <td>{{ order.date }}</td>
  <td>{{ order.status }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</form><br>

{% endblock%}