{% extends 'base.html' %}

{% block title%}
Home page
{% endblock%}

{% block nav %}
{% if current_user.is_authenticated %}
<a class="nav-link fw-bold py-1 px-2" href="/user_account/{{current_user.login}}">My account</a>
<a class="nav-link fw-bold py-1 px-2" href="{{url_for('logout')}}">Log out</a>
{% else %}
<a class="nav-link fw-bold py-1 px-2" href="/login">Log in </a>
<a class="nav-link fw-bold py-1 px-2" href="/signup">Sign up</a>
{% endif %}
{% endblock %}

{% block body %}

<div class="container">
<img src="{{url_for('static', filename='images/BikeRepair.png')}}" align="center"/>
</div>

{% endblock%}