{% extends 'base.html' %}

{% block title%}
Sign up page
{% endblock%}
{% block body %}
<div class="container mt-5">
    <h1>Sign up</h1>
    <form method="post">
        <label for="login" class="form-label">User name</label>
        <input type="text" name="login" id="login" class="form-control" placeholder="Enter user name"><br>
        <label for="password" class="form-label">Password</label>
        <input type="text" name="password" id="password" class="form-control" placeholder="Enter password"><br>
        <label for="password" class="form-label">Email</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="name@example.com"><br>
        <input type="submit" class="btn btn-success" value="Sign up"><br>
    </form>
</div>
{% endblock %}