{% extends 'base.html' %}

{% block title%}
User Account
{% endblock%}

{%block nav%}<a class="nav-link fw-bold py-1 px-2" href="{{url_for('logout')}}">Log out</a>{% endblock %}

{% block body%}
<h1 style="font-size:200%">Welcome, {{name}}</h1><br>
<p>Choose service for you two-wheeled friend:</p>

<form style="text-align: left;" method="post" saction="/action_page.php">
  <input type="checkbox" id="service1" name="wash" value="wash">
  <label for="service1"> Wash</label><br>
  <input type="checkbox" id="service2" name="repair" value="repair">
  <label for="service2"> Repair</label><br>
  <input type="checkbox" id="service3" name="upgrade" value="upgrade">
  <label for="service3"> Upgrade</label><br>
  <input type="checkbox" id="service4" name="lube_chain" value="lube_chain">
  <label for="service4"> Lube chain</label><br><br>
  <input type="submit" value="Submit" class="btn btn-success">
</form>

<form method="get">
<div class="container">
<div class="overflow-y:auto" >
  {% for order in user_orders %}

  {{ order }}<br>
  {% endfor %}
</div><br>
</div>
</form>

{% endblock%}